<%- include('partials/header') %>
<div class="about">
  <h1>About</h1>
  <h4>The Project</h4>
  <p>The decision to build WatchWithFriends came to me after ...</p>
  <h6>Github Repository</h6>
  <p>
    <a href="https://github.com/RyanHaraki/WatchWithFriends"
      >Developer? Click here to visit the repository</a
    >
  </p>
  <h4>The Creator</h4>
  <p>
    WatchWithFriends was created by Ryan Haraki, a 17 year old highschool
    student from BC. During qurantine, I decided to really improve my
    programming skills and worked on learning different technologies in
    full-stack web development. This was my first personal project of relevance,
    and I hope you and your friends enjoy watcing videos together on it!
  </p>
  <h4>Contact</h4>
  <ul>
    <li>
      <a href="mailto:ryan.haraki@hotmail.com?Subject=EasyDict%20" target="_top"
        >Email</a
      >
    </li>
    <li><a href="https://github.com/RyanHaraki">Github</a></li>
    <li><a href="https://www.reddit.com/user/Baller59">Reddit</a></li>
    <li>
      <a href="https://www.instagram.com/ryan.haraki/?hl=en">Instagram</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ryan-haraki-2432641a5/">Linkedin</a>
    </li>
  </ul>
</div>
<%- include('partials/footer') %>
