<%- include('partials/header') %>

<div class="join">
  <div class="container">
    <h1>Create or Join a Room</h1>

  <!-- Default form group -->
<form action="/room">
  <!-- Default input -->
  <div class="md-form">
    <input type="text" id="username" name="username" class="form-control" required>
    <label for="form1">Your Username</label>
  </div>
  <!-- Default input -->
  <div class="md-form">
    <input type="text" id="roomid" name="roomid" class="form-control" required>
    <label for="form1">Room Name/Id</label>
  </div>
  <button type="submit" class="btn btn-primary">Create/Join</button>

</form>
<!-- Default form group -->
  
  
  
  </div>
  </div>
</div>


<%- include('partials/footer') %>
