<%- include('partials/header') %>
<div class="home">
  <h1 id="welcome">Welcome to WatchWithFriends</h1>
  <!-- <div class="jumbotron">
  <h1 class="display-4">Watch Now!</h1>
  <p class="lead">Just click below to create or join a room.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/create" role="button">Create</a>
  <a class="btn btn-primary btn-lg" href="/join" role="button">Join</a>
</div> -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 welcome-home">
      <div class="card welcome-card">
        <div class="card-body">
          <h1 class="card-title">We're Glad to Have you!</h1>
          <p class="card-text">Just click below to create or join a room.</p>
          <hr class="my-4" />
          <a href="/create" class="btn btn-primary">Create or Join a Room</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container" style="padding: 5vh;">

  <!--Section: Content-->
  <section class="dark-grey-text">
    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why use us?</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5"> Unlike our competitors, we offer a quick, easy, fun experience.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-cogs fa-user blue-text fa-2x"></i></div>
          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">No Signup</h4>
            <p class="grey-text"> Remain anonymous in your rooms, no need to 
              signup or create any accounts. Just create or join a room and give 
              yourself a temporary name.</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-smile-beam pink-text fa-2x"></i>
          </div>

          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Easy to Use</h4>
            <p class="grey-text">Simply head to the rooms page and give
               yourself and your room a name, or enter the name of the 
               room you wish to join. That's it! No need to create an account
              or go through any extra processes.</p>
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
          </div>
          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">Continued Development</h4>
            <p class="grey-text">The version you're using now isn't going to be 
              the version you're using forever. We are comitted to adding new
               features and fixing bugs to make your experience as good as possible!.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="call-to-action">
    <a href="/create" class="btn btn-primary">Watch Now!</a>
  </div>

<!-- <div class="info"></div> -->
<%- include('partials/footer') %>
