<%- include('partials/header') %>
<div class="home">
  <h1 id="welcome">Welcome to WatchWithFriends</h1>
  <!-- <div class="jumbotron">
  <h1 class="display-4">Watch Now!</h1>
  <p class="lead">Just click below to create or join a room.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/create" role="button">Create</a>
  <a class="btn btn-primary btn-lg" href="/join" role="button">Join</a>
</div> -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 welcome-home">
      <div class="card welcome-card">
        <div class="card-body">
          <h1 class="card-title">We're Glad to Have you!</h1>
          <p class="card-text">Just click below to create or join a room.</p>
          <hr class="my-4" />
          <a href="/create" class="btn btn-primary">Create a room</a>
          <a href="/join" class="btn btn-primary">Join a room</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- <div class="info"></div> -->
<%- include('partials/footer') %>
